.shopping-cart-container
  .shopping-cart-container-info
    display: flex
    justify-content: space-between
    p
    color: red

  .cart-row-list-wrapper
    border: 1px solid #6d6d67
    padding: 10px