.login-page-container
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  @media (min-width: 1024px)
    width: 55%
    margin: 0 auto

  .login-page-error
    display: flex
    color: red
    font-weight: bold
    font-size: 20px
    align-self: flex-start
    margin: 10px
    @media (min-width: 768px)
      font-size: 35px
      @media (min-width: 1024px)
        font-size: 30px

  .login-page
    @media (min-width: 1024px)
      display: flex
      justify-content: space-between
      width: 100%

  a
    color: #414b59
    font-weight: bold
    text-decoration: none


  span
    color: #868685
    font-weight: bold
    font-size: 20px
    align-self: flex-start
    @media (min-width: 768px)
      font-size: 35px
      @media (min-width: 1024px)
        font-size: 30px

  .password

    color: #ffc800
    font-size: 15px
    @media (min-width: 768px)
      font-size: 30px
      @media (min-width: 1024px)
        font-size: 25px

  .login-page-input-container
      margin-top: 20px
      @media (min-width: 768px)
       font-size: 40px
       @media (min-width: 1024px)
        font-size: 35px

  .login-page-input
    display: flex
    align-items: baseline
    i
      color: #868685
      &:hover
      cursor: pointer
      @media (min-width: 768px)
        font-size: 20px
        @media (min-width: 1024px)
          font-size: 15px


  .login-page-right
    padding-top: 25px
    display: flex
    flex-direction: column
    align-items: center
    @media (min-width: 768px)
      padding-top: 40px
    @media (min-width: 1024px)
      padding-top: 0

.button-login-page
  width: 220px
  height: 40px
  background: slategray
  border-width: 0
  border-radius: 5px
  border-color: #3d7ec0
  color: white
  font-size: 18px
  font-weight: bold
  margin: 20px auto
  display: flex
  justify-content: center
  align-items: center
  &:hover
    cursor: pointer
  @media (min-width: 768px)
   width: 300px
   height: 50px
  @media (min-width: 1024px)
    width: 200px
    height: 35px


