.footer
  width: 100%
  display: flex
  flex-direction: row
  margin-top: 15px

  .footer-img
    width: 300px

  &-right-info
    display: flex
    justify-content: space-between
    width: 100%

  &-address
    display: flex
    flex-direction: column
    justify-content: flex-end

    span
    margin-top: 10px
    margin-left: 20px

  &-info
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end

    span
      margin-top: 10px

  .footer-social i
    margin-left: 10px