.footer
  width: 100%
  display: flex
  flex-direction: column
  margin-top: 15px
  @media (min-width: 1200px)
    flex-direction: row

  .footer-img
    width: 100%
    @media (min-width: 1200px)
      width: 15%
      margin: 0 20px 0 0

  &-right-info
    display: flex
    justify-content: space-between
    width: 100%
    @media (min-width: 1200px)
      align-items: center

  &-address
    display: flex
    flex-direction: column
    justify-content: flex-end
    font-size: 15px
    color: slategray
    @media (min-width: 768px)
      font-size: 25px
    @media (min-width: 1200px)
      font-size: 20px


  &-info
    display: flex
    flex-direction: column

    span
      color: slategray
      font-size: 15px
      @media (min-width: 768px)
       font-size: 25px
      @media (min-width: 1200px)
       font-size: 20px

  .footer-social
    i
      font-size: 15px
      color: slategray
      margin-right: 10px
      @media (min-width: 768px)
        font-size: 25px
      @media (min-width: 1200px)
        font-size: 20px