.header
  width: 100%
  display: flex
  flex-direction: row
  margin-bottom: 15px

  .header-img
    width: 300px

  .header-lang-social
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%

  .lang
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-left: 20px

    p
      margin: 0

  .social
    display: flex
    margin-bottom: 10px

    i
      margin-left: 10px

  .header-link
    display: flex
    margin-top: 16px

    p
      margin: 0 5px 0 0

  .header-button
    width: 40px
    height: 40px

  .social-container
    display: flex
    flex-direction: column
    align-items: flex-end

  .header-button-row
    width: 100%
    margin: 5px 0 0 0
    height: 6px
    background-color: #868685
    border-radius: 50px