.conditions
  display: flex
  flex-direction: column
  text-align: left
  width: 55%
  margin: 0 auto
  color:  #868685
h4
  margin: 25px 0 0 0


  div
    margin: 10px
    font-size: 20px

a
  text-decoration: none