.event-item-page
  display: flex
  flex-direction: column
  align-items: center
  position: relative

  .event-item-page-container
    @media (min-width: 1440px)
      display: flex
      justify-content: center

  .event-item-page-img
    display: flex
    flex-direction: column
    align-items: center
    position: relative

    img
      object-fit: cover
      width: 100%
      height: 250px
      margin: 10px 0
      @media (min-width: 768px)
        height: 485px
      @media (min-width: 1200px)
        width: 400px
        height: 400px

  .event-item-description
    @media (min-width: 768px)
      padding: 0 0 0 15px

  h1
    font-size: 30px
    color: #414b59
    @media (min-width: 768px)
      font-size: 45px
    @media (min-width: 1024px)
      margin-top: 0
    @media (min-width: 1200px)
      font-size: 55px
      text-align: center
      margin: 0 0 30px 0

  h3
    font-weight: bold
    font-size: 20px
    margin: 0
    @media (min-width: 768px)
      font-size: 25px
    @media (min-width: 1200px)
      margin: 0 0 0 30px
      font-size: 35px

  .event-item-info
    color: #414b59

    p
      font-size: 15px
      @media (min-width: 768px)
        font-size: 20px
      @media (min-width: 1200px)
        margin: 30px


  .event-item-page-details

    .event-details
      font-weight: bold
      color: #ffc800
      @media (min-width: 1200px)
        font-size: 25px

    span
      font-size: 18px
      color: slategray
      font-weight: bold


    p
      margin: 5px 0 0 0
      font-size: 18px
      color: slategray
      font-weight: bold
      @media (min-width: 1200px)
        margin: 0 0 0 30px
        font-size: 28px

  .event-buy-tickets
    a
     text-decoration: none
     margin: 10px 0
     font-weight: bold
     font-size: 30px
     color: #ffc800



    &:hover
      cursor: pointer

    @media (min-width: 1200px)
      a
       margin: 30px 0 0 30px
       font-size: 40px

