.app-events
  display: flex
  flex-direction: column

  @media(min-width: 1024px)
    flex-direction: row

.global-title
  font-size: 30px
  color: #414b59
  display: flex
  justify-content: center
  @media (min-width: 768px)
    font-size: 45px
  @media (min-width: 1024px)
   margin-top: 0
   font-size: 55px
  @media (min-width: 1200px)
   font-size: 65px
   text-align: center
   margin: 0 0 30px 0

.global-tickets-page-title
  display: flex
  flex-wrap: wrap
  font-weight: bold
  color:  #6d6d66
  font-size: 20px
  margin: 20px 0
  @media (min-width: 768px)
    font-size: 30px
  @media (min-width: 1024px)
    font-size: 35px

.global-tickets-cart-container-title
  display: flex
  justify-content: space-between
  margin-top: 20px
  font-size: 20px
  color: #6d6d67
  font-weight: bold
  @media (min-width: 1440px)
    width: 250px

